RocksAlexaRobot/config.py
RocksAlexaRobot/*.session
RocksAlexaRobot/*.session-journal
RocksAlexaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
RocksAlexaRobot/modules/helper_funcs/temp.txt
RocksAlexaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
RocksAlexaRobot.session-journal
updates.txt
*.exe
